{{>navbar}}
<div>
    <h1>Chat</h1>
</div>

<div class="chat-container">

    <div id="messages"></div>
    <input class="input" type="text" id="message">

</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>