{{>navbar}}
<div class="container">
    <h2 class="mb-2">Login</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 border p-4">
            <form>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
              
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
                <span class="span">Don't have an account? <a href="/register">Sign up</a></span>

            </form>
        </div>
    </div>
</div>