{{>navbar}}
<div class="container">
    <h2 class="mb-2">Login</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 border p-4">
            <form action="/api/sessions/login" method="post">

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                </div>
              
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-warning" value="login">Submit</button>
                </div>
                <span class="span">Don't have an account? <a href="/register">Sign up</a></span>

            </form>
        </div>
    </div>
</div>