{{>navbar}}
<div class="container mt-5">
  <h2 class="mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
    </svg>
    User Profile</h2>
  <table class="table table-striped border">
    <thead>
      <tr class="text-center align-middle">
        <th class="bg-dark text-light">First Name</th>
        <th class="bg-dark text-light">Last Name</th>
        <th class="bg-dark text-light">Age</th>
        <th class="bg-dark text-light">email</th>
      </tr>
    </thead>
    <tbody>
        <tr class="text-center align-middle">
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.email}}</td>
        </tr>
    </tbody>
  </table>
</div>