{{>navbar}}
<div class="container mt-5">
  <h2 class="mb-2">{{user.name}}' Profile</h2>
  <table class="table table-striped border">
    <thead>
      <tr>
        <th class="bg-dark text-light text-center align-middle">Name</th>
        <th class="bg-dark text-light text-center align-middle">email</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
        </tr>
    </tbody>
  </table>
</div>