{{>navbar}}
<div class="container">
    <h2 class="mb-2">Register</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 border p-4">
            <form action="/api/sessions/register" method="post">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                    <div id="email-help" class="form-text">We'll never share your email with anyone else.</div>
                </div>
              
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-warning" value="register">Submit</button>
                </div>
                <span class="span">Already have an acount? <a href="/login">Signin</a></span>
                
            </form>
        </div>
    </div>
</div>