<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">Fran's Ecommerce</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{! <a class="nav-link disabled" aria-disabled="true" href="/">Products List</a> }}
        <a class="nav-link" href="/">Products List</a>
        <a class="nav-link" href="/realtimeproducts">RealTimeProducts</a>
        <a class="nav-link" href="/chat">Chat</a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/carts/66304d5f805b018aa33c9c57">Cart</a>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/profile">Profile</a>
      </div>
    </div>
    <form class="d-flex">
      <button id="logoutButton" class="btn btn-warning" type="submit">Logout
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-bar-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"
          />
        </svg>
      </button>
    </form>
  </div>
</nav>

<script src="/js/logout.js"></script>